header {
  background-color: #3b3b3b;
  padding: 27px 0;
}
header #logo {
  display: inline;
}
header nav {
  display: inline;
  font-size: 14px;
  margin-left: 5px;
}
header nav ul {
  display: inline;
}
header nav ul li {
  display: inline-block;
  padding: 5px 0;
  margin: 0 10px;
}
header nav ul li a {
  color: #fff;
}
header nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
header nav ul li:hover {
  border-bottom: 2px solid #606060;
}
header nav ul li.active {
  border-bottom: 2px solid #fff;
}
header #account {
  float: right;
  margin-top: 3px;
}
header #account a {
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
}
header #account a:hover {
  text-decoration: none;
}
header #mobile-nav {
  float: right;
}
header #mobile-nav span {
  color: #fff;
}
header .guide-header {
  margin-top: 40px;
}
header .guide-header h1 {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  margin: 0.5em;
}
header .guide-header p {
  text-align: center;
  color: #fff;
  font-size: 0.8em;
}
header .guide-search input {
  border-radius: 6px;
}
header .guide-search input:focus {
  border-color: #3b3b3b;
}
.guide-lists {
  margin-top: 20px;
}
.guide-lists .guide-lists-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}
.guide-lists .guide-lists-header .guide-lists-filter select {
  width: 100px;
  float: left;
  height: 30px;
  border-radius: 5px;
}
.guide-lists .guide-lists-header .guide-lists-filter select option {
  height: 20px;
}
.guide-lists ul {
  margin: 0;
  padding: 0;
}
.guide-lists ul li {
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0;
}
.guide-lists ul li .details h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.guide-lists ul li .details h3 a:hover {
  color: #1e87f0;
  text-decoration: none;
}
.guide-lists ul li .details .meta {
  margin-top: 5px;
}
.guide-lists ul li .details .meta div {
  display: inline-block;
  font-size: 13px;
  margin-right: 15px;
}
.guide-lists ul li .details .meta div i {
  margin-right: 2px;
}
.guide-lists ul li .details .meta .timeago {
  font-size: 13px;
}
.guide-lists ul li .timeago {
  color: #666;
  font-size: 14px;
  margin-top: 2px;
}
.load-more-guides {
  padding: 30px 0;
  text-align: center;
}
footer {
  background-color: #3b3b3b;
  padding: 30px 0;
  font-size: 13px;
}
.button {
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.uk-container {
  max-width: 1000px;
}
.uk-container-small {
  max-width: 800px;
}
.uk-button {
  border-radius: 5px;
}
