<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GetNAS - 科技指南创作与分享平台</title>

    <link rel="stylesheet" href="css/uikit.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="app">
        <header>
            <div class="uk-container">
                <div id="logo">
                    <a href=""><img src="img/getnas-blank.svg" width="100" alt=""></a>
                </div>
                <nav class="uk-visible@s">
                    <ul>
                        <li class="active"><a href="">首页</a></li>
                        <li><a href="">热门标签</a></li>
                        <li><a href="">问题反馈</a></li>
                    </ul>
                </nav>
                <div class="uk-visible@s" id="account">
                    <a class="" href="#">登录</a>
                    <a class="button" href="#">注册</a>
                </div>

                <div class="uk-hidden@s" id="mobile-nav">
                    <span uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></span>
                </div>

                <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                    <div class="uk-offcanvas-bar">

                        <ul class="uk-nav uk-nav-default">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li class="uk-parent">
                                <a href="#">Parent</a>
                                <ul class="uk-nav-sub">
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                </ul>
                            </li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="uk-container uk-container-small">
                <div class="guide-header">
                    <h1>{{ search_text ? search_text : '指南创作与共享平台' }}</h1>
                    <p>{{ headers['x-wp-total'] ? '共有 ' + headers['x-wp-total'] + ' 篇相关指南' : '数据读取中...' }} </p>
                </div>
                <div class="guide-search">
                    <form class="" v-on:submit.prevent="search" uk-grid>
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                            <input v-model="search_text" class="uk-input" placeholder="搜索需要的主题">
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <div class="uk-container uk-container-small">
            <div class="guide-lists">
                <div class="guide-lists-header uk-clearfix">
                    <div class="guide-lists-filter">
                        <select v-model="order" v-on:change="order_changed" class="uk-select">
                            <option value="desc">最新</option>
                            <option value="asc">最早</option>
                        </select>
                    </div>
                    <a class="uk-button uk-button-primary uk-button-small uk-float-right" href="#">写文章</a>
                </div>
                <ul>
                    <li v-for="guide in guides">
                        <div class="" uk-grid>
                            <div class="uk-width-4-5@s">
                                <!--<div class="author-avatar uk-float-left uk-visible@s">
                                    <img class="uk-border-circle" src="img/avatar.jpg" width="40" height="40" alt="">
                                </div>-->
                                <div class="details">
                                    <h3>
                                        <a class="uk-link-text" v-bind:href="guide.link" target="_blank">{{ guide.title.rendered }}</a>
                                    </h3>
                                    <div class="meta">
                                        <!--<div class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i> 1.4k
                                        </div>-->
                                        <!--<div class="comments">
                                            <i class="fa fa-comments-o" aria-hidden="true"></i> 4
                                        </div>-->
                                        <div class="author">
                                            <i class="fa fa-user-circle" aria-hidden="true"></i> {{ guide._embedded.author[0].name }}
                                        </div>
                                        <div class="uk-hidden@s uk-text-right">
                                            <span class="timeago">{{ guide.date | timeago }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-5 uk-visible@s uk-text-right">
                                <span class="timeago">{{ guide.date | timeago }}</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="load-more-guides" v-if="headers['x-wp-totalpages'] > 1">
                    <div v-show="loadflash" uk-spinner></div>
                    <a v-show="!loadflash" class="uk-button uk-button-default" v-on:click="loadmore">加载更多</a>
                </div>
                <div class="load-more-guides" v-else>
                    <span v-if="headers['x-wp-totalpages'] <= 0">未找到内容</span>
                    <span v-else>没有更多</span>
                </div>
            </div>
        </div>

        <footer>
            <div class="uk-container">
                <div class="uk-container">
                    <div class="uk-text-center">
                        <p>Copyright © 2013 - 2017 上海炬树信息科技有限公司</p>
                        <p>沪ICP备13032632号-1</p>
                    </div> 
                </div>
            </div>
        </footer>
    </div>

    <script src="js/home.js"></script>
</body>

</html>